@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";
@import "_partials/common.scss";
@import "_partials/components.scss";
@import "_partials/typography.scss";
@import "_partials/utilities.scss";
@import "_partials/variables.scss";
@import "_partials/mixins.scss";

.pic-container {
    width: 50px;

    img {
        width: 100%;
        display: block;
    }

}

.single-cocktail {
    .pic-container {
        width: 100%;

        img {
            width: 100%;
            display: block;
        }

    }
}