@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";
@import "_partials/common.scss";
@import "_partials/components.scss";
@import "_partials/typography.scss";
@import "_partials/utilities.scss";
@import "_partials/variables.scss";
@import "_partials/mixins.scss";

.pic-container {
    width: 50px;

    img {
        width: 100%;
        display: block;
    }

}

.single-cocktail {
    .pic-container {
        width: 100%;

        img {
            width: 100%;
            display: block;
        }

    }
}

.img_cocktail {
    height: 100%;
    object-fit: cover;

}

.img-container {
    height: 200px;
    overflow: hidden;
}

.cocktail-card {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 12px;
    width: calc(100% / 3);
}